<% projects.forEach(project=> { %>
    <div class="col">
        <div class="card border">
            <img src="<%= project.images[0] %>" class="card-img-top card-img" alt="..." data-bs-toggle="modal"
                data-bs-target="#cardModal" data-title="<%= project.title %>" data-desc="<%= project.desc %>"
                data-images="<%= project.images.join(',') %>">
            <div class="card-body">
                <div class="card-info" data-bs-toggle="modal" data-bs-target="#cardModal"
                    data-title="<%= project.title %>" data-desc="<%= project.desc %>"
                    data-images="<%= project.images.join(',') %>">
                    <h5 class="card-title">
                        <%= project.title %>
                    </h5>
                    <p>
                        <%= project.author %>
                    </p>
                </div>
                <div class="card-stats">
                    <span class="like-span">
                        <% if (isLoggedIn) { %>
                            <% if (ismy) { %>
                                <button type="button" class="btn edit-btn"
                                    onclick="editProject('<%= project._id %>')"><img src="/img/edit.svg"
                                        alt="" class="edit-svg"></button>
                                <% } %>
                                    <% } %>
                                        <% if (isLoggedIn) { %>
                                            <% if (!ismy) { %>
                                                <button type="button" class="btn save-btn" onclick="saveProject('<%= project._id %>')">
                                                    <i class="far fa-bookmark save-icon" id="saveIcon"></i>
                                                </button>
                                                <% } %>
                                                    <% } %>
                                                        <!-- <img class="like-svg" src="/img/like.svg" alt=""> -->
                                                        <i class="fas fa-thumbs-up like-icon" id="likeIcon" <% if (isLoggedIn) { %> onclick="toggleLike('<%= project._id %>')" <% } %>></i>


                                                                <span class="like-count"
                                                                    id="likeCount<%= project._id %>"
                                                                    style="user-select: none;"
                                                                    data-likes="<%= project.likes %>">
                                                                    <%= project.likes %>
                                                                </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <% }) %>