<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <%- include('partials/navbar')%>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <% carousel.forEach((item, index) => { %>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= index %>"
                                class="<%= index === 0 ? 'active bg-dark' : 'bg-dark' %>"
                                aria-current="<%= index === 0 ? 'true' : 'false' %>"
                                aria-label="Slide <%= index + 1 %>"></button>
                        <% }); %>
                    </div>                    
                    <div class="carousel-inner">
                        <% carousel.forEach((item, index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img src="<%= item.src %>" class="d-block" alt="...">
                            </div>
                        <% }); %>
                    </div>                    
                </div>
            </div>
            <div class="col-lg-5 carousel-sib-div">
                <% carousel_sib.forEach(item => { %>
                    <div class="row pb-3">
                        <img src="<%= item.src %>" class="d-block carousel-sibling" alt="...">
                    </div>
                <% }) %>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12">
                <h1 class="project-head">Projects <span class="project-count">(<%= cards.length %>)</span></h1>
                <hr class="hr-project">
            </div>
        </div>
        <div class="row m-2 d-flex">
            <% cards.forEach(card=> { %>
                <div class="card col-lg-4 col-md-6">
                    <img src="<%= card.src %>" class="card-img-top card-img" alt="...">
                    <div class="card-body">
                        <div class="card-info">
                            <h5 class="card-title">
                                <%= card.title %>
                            </h5>
                            <p>
                                <%= card.author %>
                            </p>
                        </div>
                        <div class="card-stats">
                            <span class="like-span"><img class="like-svg" src="/img/like.svg" alt=""> <%= formatLikes(card.likes) %></span>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <%- include('partials/footer')%>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>