<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('partials/navbar', { isLoggedIn: isLoggedIn, username: username }) %>
        <div class="row mt-5 d-flex flex-wrap">
            <div class="col-lg-7">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <% carousel.images.forEach((item, index)=> { %>
                            <button type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide-to="<%= index %>"
                                class="<%= index === 0 ? 'active bg-primary' : 'bg-primary' %>"
                                aria-current="<%= index === 0 ? 'true' : 'false' %>"
                                aria-label="Slide <%= index + 1 %>"></button>
                            <% }); %>
                    </div>
                    <div class="carousel-inner">
                        <% carousel.images.forEach((item, index)=> { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img src="<%= item %>" class="d-block img-fluid" alt="...">
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 carousel-sib-div">
                <div class="row pb-3  row-cols-2 row-cols-md-2 row-cols-lg-1 g-3">
                    <% carousel_sib.forEach(item=> { %>
                        <div class="col">
                            <img src="<%= item.images[0] %>" class="d-block carousel-sibling img-fluid" alt="...">
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
        <div class="row mt-5 pb-3 row-cols-2 row-cols-md-2 row-cols-lg-2">
            <div class="col">
                <h1 class="project-head">Projects <span class="project-count">(<%= cards.length %>)</span>
                </h1>
            </div>
            <% if (isLoggedIn) { %>
                <div class="col">
                    <div class="d-flex justify-content-end me-2">
                        <a href="/my-projects"><button type="button" class="btn btn-primary align-self-end"
                                id="add-button"><img class="me-1" src="/img/add.svg" alt="">Add Project</button>
                        </a>
                    </div>
                </div>
                <% }%>
                    <!-- <hr class="hr-project mt-2"> -->
        </div>
        <!-- Project Desc Modal -->
        <div class="modal fade" id="cardModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="cardModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="cardModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modalCardDesc"></p>
                        <div id="modalCardImages" class="mb-3">
                            <!-- Images will be dynamically added here -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                        <!-- <button type="button" class="btn btn-primary">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="searchResults" class="m-2 row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
            <!-- Initial project cards will be rendered here -->
            <%- include('partials/project-list', { projects: cards, isLoggedIn: isLoggedIn, ismy: false }) %>
        </div>
        <%- include('partials/footer')%>
        
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="/js/script.js"></script>
</body>

</html>